<div class="fondo">
    <div class="banner">
        <div class="imagen">
            <img src="../../../assets/image/alexandr-podvalny-G5tfP-gBM84-unsplash1.jpg">
        </div>

        <div class="text_container">
            <p class="text-banner__title">Our destinations</p>
            <p class="text-banner__subtitle">Discover the world</p>
            <p class="text-banner__description">Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
        </div>
    </div>
</div>
