@import "src/assets/styles/abtstracs"

.container
  margin: 30px 60px
  box-sizing: border-box
  display: flex
  flex-direction: column
  gap: 2rem

.card-container
  display: grid
  grid-template-columns: 1fr 2fr 1fr
  gap: 1rem
  box-sizing: border-box
  @include mobile
    grid-template-columns: 1fr






