
<footer class="footer">

    <div class="footer__info-wrapper">

   <div class="footer__info">

    <div class="footer__logo">
        <img src="{{iconAirline}}" alt="Logo">
    </div>
    <section class="footer__info-content-wrapper">
        <section class="footer__info-content">
            <h2 class="footer__info-content-title">Destinations</h2>
            <ul class="footer__info-content-list">
                <li><a href="#">Madrid</a></li>
                <li><a href="#">Barcelona</a></li>
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Roma</a></li>
            </ul>
        </section>
        <section class="footer__info-content">
            <h2 class="footer__info-content-title">Legal information</h2>
            <ul class="footer__info-content-list">
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Cookie policies</a></li>
                <li><a href="#">data treatment</a></li>
            </ul>
        </section>
        <section class="footer__info-content">
            <h2 class="footer__info-content-title">Book your flight</h2>
            <ul class="footer__info-content-list">
                <li><a href="#">Search flights</a></li>
                <li><a href="#">Price calendar</a></li>
                <li><a href="#">Destination map</a></li>
                <li><a href="#">Flight times</a></li>
            </ul>
            <div class="footer__social-media">
                <h2 class="footer__text-social-media-link">Follow us</h2>
                <div class="footer__social-media-links">
                    <img src="{{iconTwitterURL}}" alt="Logo 1">
                    <img src="{{iconFacebookURL}}" alt="Logo 2">
                    <img src="{{iconYoutubeURL}}" alt="Logo 3">
                </div>
            </div>
        </section>
    </section>

   </div>



    </div>
    <div class="footer__about-us">
        <p>
            Website terms of use |
        </p>
        <p>
            Site map |
        </p>
        <p>
            environment |
        </p>
        <p>
            contact@arilines.com
        </p>
    </div>

</footer>


