@import "src/assets/styles/abtstracs"

.card
  background-size: cover
  max-width: 296px
  height: 246.88px
  border-radius: 16px
  position: relative
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-end
  gap: 6px
  padding-right: 16px
  padding-bottom: 2px
  box-sizing: border-box

  &::before
    content: ''
    background: rgba(24, 24, 35, 0.53)
    position: absolute
    height: 200%
    width: 200%
    left: -20%
    bottom: -88%
    display: flex
    border-radius: 100% 0 0 0
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    gap: 8px
    padding: 15px
    box-sizing: border-box

.card__content
  margin: 0px
  color: $primary-text-color
  position: relative
  text-align: right
  font-weight: 700

  @include mobile
    color: black

  &__title
    font-size: 28px
    margin-bottom: 0px

  &__price
    font-size: 20px

  &__decimal
    font-size: 16px

.ul__card__list
  list-style-type: none








